html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

p {
  font-size: 3em;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#heading {
  margin: 1em;
  color: rgba(245, 245, 245, 0.737);
  position: fixed;
  text-align: center;
}

#scrolldad {
  padding-top: 450vh;
  padding-left: 10%;
  padding-right: 10%;
}

#scroll {
  display: flex;
  flex-direction: column;
  opacity: 0;
  color: whitesmoke;
  position: relative;
  text-align: center;
}

h1 {
  color: whitesmoke;
}

button {
  font-size: 2em;
  width: 30vw;
  align-self: center;
  color: ghostwhite;
  background: #222222;
  border-radius: 1em;
  height: 1.5em;
}

decbutton {
  margin-top: 1em;
}
