body {
    background-color: #f54254;
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

.centred {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    width:100vw;
}

#bg {
    display:flex;
    align-self: center;
    flex-direction: column;
    width: 80vw;
    height: 90vh;
    border-radius: 1rem;
    background-color: rgba(100,0,10,0.9);
    backdrop-filter: blur(5px);
    box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
    border-color: aqua;
    border-width: 10px;
}

.ele {
    align-self: center;
    justify-self:center;
    width: 80%;
    height: 10px;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Animation {
    margin-top: 5%;
    min-height:10rem;
    overflow: hidden;
    background: none;
}

img {
    max-height: 100%;
    max-width: 100%;
}

#Question {
    margin-top: 10%;
    height:5em;
}

h1 {
    font-family: cursive;
    text-align: center;
    font-weight: bolder;
    -webkit-text-stroke: 0.1px white;
}

p {
    font-family: cursive;
    text-align: center;
    font-size: 1.25em;
}

#Yes {
    margin-top: 3rem;
    height: 3rem;
    width: 10rem;
    background-color: #f9b8be;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/019/909/750/small/cute-hand-drawn-doodle-png.png);
    background-position: 110%;
    background-size: 40%;
    background-repeat: no-repeat;
}

#No {
    margin-top: 1rem;    
    margin-bottom: 1rem;
    height: 3rem;
    width: 10rem;
    background-color: #ffcce9;
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 50%;
    background-blend-mode: darken;
}

#independant {
    position: fixed;
    z-index: 1;
    top: 10vh;
    left: 15vw;
    width: 60px;
    rotate: 10deg;
}

#clearbutton {
    background:none;
    border: none;
}

.hideClass {
    transition:1s;
    opacity:0;
}

.showClass {
    animation-delay: 3s;
    transition: 2.5s;
    opacity: 1;
}

.sitionClass {
    transition: transform 2s;
}

.moveClass {
    position: fixed;
    bottom: 10vh;
    right: 10vw;
}
